.draft-label {
    margin-right: 0.3rem;
    background-color: var(--primary-color);
    padding: 2px 4px;
    color: var(--hover-color);
}

.article-title {
    display: block;
    margin: 0;
    color: var(--text-color-high-contrast);
    font-weight: 550;
    font-size: 2rem;
    line-height: 3rem;
}

iframe {
    display: block;
    margin-right: 15%;
    margin-bottom: 3vmin;
    margin-left: 15%;
    border: none;
    aspect-ratio: 16/9;
    width: 100vmin;
    max-width: 70%;
}

ul {
    margin-top: 0;
}

.toc-container {
    margin-bottom: 4vmin;
}

.padding-top {
    padding-top: 4vmin;
}

.title-container {
    padding-bottom: 8px;
}

.bottom-divider {
    border-bottom: var(--divider-color) solid 0.5px;
}

::-moz-selection {
    background: var(--primary-color);
    color: var(--hover-color);
    text-shadow: none;
}

::selection {
    background: var(--primary-color);
    color: var(--hover-color);
}

.nav.tags {
    display: inline-block;
}

blockquote {
    margin: 0;
    border-left: 0.3rem solid var(--primary-color);
    padding-left: 1em;
}

a {
    position: relative;
    color: var(--primary-color);
    font-weight: inherit;
    text-decoration: inherit;
}

a:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
}

a:not(.no-hover-padding):hover::after {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -0.15em;
    bottom: 0;
    left: -0.15em;
    z-index: -1;
    background-color: var(--primary-color);
    max-width: 105%;  // This fixes multi-line links (see #225)
    content: "";
}

@media screen and (max-width: 600px) {
    .list > ul {
        margin: 0;
        padding: 0;
    }
}

hr {
    margin: 3.5rem 0 1rem;
    border: none;
    background-color: var(--divider-color);
    height: 1px;
}

.footnote-reference {
    font-size: 0.7rem;
    font-family: var(--serif-font);
}

.footnote-definition {
    margin-bottom: 0.6rem;

    sup {
        margin-right: 0.15rem;
        font-size: 0.75rem;
        font-family: var(--serif-font);
    }

    p {
        display: inline;
    }
}

.footnote-backlink {
    margin-left: 0.2rem;
    font-size: 0.8rem;
}

.references p {
    margin-left: 2.4rem;
    text-indent: -2.4rem;
}

.info-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-left-width: 0.3rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

#page-content {
    margin-top: 4vmin;
}

.hidden {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

details summary {
    cursor: pointer;
}

.interactive-icon {
    cursor: pointer;

    path {
        fill: var(--text-color);
    }

    :hover path {
        fill: var(--meta-color);
    }
}

.article-navigation {
    display: flex;
    margin-top: 2rem;
    border-top: var(--divider-color) solid 0.5px;
    padding-top: 2rem;

    div:first-child {
        flex: 1;
        text-align: left;
    }

    div:last-child {
        flex: 1;
        text-align: right;
    }

    div p {
        color: var(--meta-color);
        font-weight: 300;
        line-height: 1.2rem;
        font-family: var(--sans-serif-font);
        letter-spacing: -0.4px;
    }

    @media (max-width: 600px) {
        flex-direction: column;

        div {
            text-align: center !important;
        }
    }
}
